<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>   
	<!--  <th>Description</th> -->
   
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to h(topic.title), topic  %></td>
    <td><%=h topic.description %></td>
    <td><%= button_to '+1', topic_votes_path(topic) %></td>
   <%#= link_to 'Show', topic %> 
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>