<p>
  <b>Title:</b>
  <%=h @topic.title %>   
  
  has <span class ="show_votes_num">  <%= pluralize( @topic.votes.size, "vote") %>. </span>
</p>
<!-- 
<p>
  <b>Description:</b>
  <%=h @topic.description %>
</p>
-->
 

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>